* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #153D76;
    background-size: cover;
    background-position: center;

}

.container{
    flex-wrap: wrap;
    color: black;
    width: 90%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    place-items: center;
}

label{
    color: black;
}

.form-container{
    display: flex;
    flex-direction: row;
    height: inherit;
    width: inherit;
    border: .5px solid rgb(180, 179, 179);
    border-radius: .9rem;
    box-shadow: 1px 1px 4px rgb(173, 173, 173);
}

.form{
    flex: 55%;
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.icon-btn{
    padding:10px;
    border-radius: 50%;
    align-items: center;
}

/* .icon-btn:hover{
    background-color: var(--tertiary-color);
    
}

i{
    fill: var(--tertiary-color);
    stroke: whitesmoke;
} */

.signin form{
    flex-direction: column;
    place-items: center;
}

.brand-design{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    justify-content: center;
    align-items: center;
    place-items: center;
    color: whitesmoke;
    flex: 45%;
    padding: 1rem;
    background-color: var(--primary-color);

    text-align: center;
}

.brand-design.signin{

    border-radius: 0.9rem 0 0 .9rem ;
}


.brand-design.signup{
    border-radius: 0.9rem 0 0 .9rem ;
    transform: translateX();
}
.brand-design.signin.hidden{
    transform: translateX(50%);
    transition: transform .3s fade;
    opacity: 0;
    visibility: hidden;
    
}

.brand-design.signup{
    flex: 40%;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 0 0.9rem 0.9rem 0 ;
}

.brand-span,
.brand-title{
    margin: 1rem;
}

.hidden{
    display: none; 
}





@media (max-width:768px) {
    .form-container{
        height: max-content;
    }
    .brand-design{
        display: none;
    }

    .col-6{
        grid-column: span 12;
    }

    .col-4{
        grid-column: span 6;
    }

    .anchor-on.hidden{
        display: block;
    }
}