@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-color: #153d76;
  --secondary-color: #f8d99b;
  --tertiary-color: #e67351;
  --main-font: "Roboto Mono", monospace;
  --font-size-lg: 24px;
  --font-size-sm: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  line-height: 1.6;
  background-color: #f2f2f2;
}

.section-title{
  font-size: 2rem;
}

nav,
footer {
  width: 100%;
  box-sizing: border-box;
}

/* --------NAV-------- */
.nav {
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  color: white;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0.8rem;
  overflow-x: hidden;
  z-index: 100;
}

#toggleSidebar {
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  place-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
}
.nav-item {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
}


.toggle.hidden {
  display: none;
}
/* --------END NAV-------- */

.current{
  background-color: var(--tertiary-color);
}

/* --------SIDEBAR-------- */
.sidebar {
  display: none;
  
}

.logo-s {
  display: flex;
  flex-direction: row;
}

.sidebar.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  z-index: 200;
  padding: 0.5rem;
  transition: all, 0.3s, ease-in;
}

.brand {
  color: whitesmoke;
  font-weight: 600;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: whitesmoke;
}
.sidebar-menu ul li {
  list-style-type: none;
}
.side-item{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.side-links{
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

/* --------FOOTER-------- */

.footer {
  background-color: var(--primary-color);
  text-overflow: ellipsis;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  
}

.footer-content {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

.social-icon {
  display: flex;
  flex-direction: column;

}

.bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials,
.quick-links,
.newsletter {
  flex-wrap: wrap;
}
.footer-links {
  display: flex;
  color: white;
  align-items: center;
  margin: 0.4rem;
}

/* ------ CARD ------ */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: min-content;
  
  box-shadow: 1px 1px 5px rgb(227, 227, 227);
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem;
}

.card.hover:hover {
  z-index: -10;
  transform: scale(1.05);
}

.card-anchor{
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

.card-anchor:hover{
  color: var(--tertiary-color);
}

.card.row {
  display: flex;
}

.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* ------ END CARD ------ */

/* ------ BUTTON ------ */

.btn {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  border-radius: 35px;
  margin: 1rem;
}


.btn.hidden {
  display: none;
}

.btn.primary {
  background-color: var(--primary-color);
  color: whitesmoke;
}

.btn.primary.outline {
  border: 1px var(--primary-color) solid;
  background-color: transparent;
}

.btn.secondary.outline {
  border: 1px var(--secondary-color) solid;
  background-color: transparent;
}

.btn.secondary {
  background-color: var(--secondary-color);
  color: white;
}

.btn.tertiary {
  background-color: var(--tertiary-color);
}
.btn.tertiary.outline {
  background-color: var(--tertiary-color);
  color: white;
}

.cart-btn{
  padding: 1rem;
  border: none;
  border-radius: none;
  font-size: 2rem;
  stroke-width: 1;
  background-color: transparent;
}

.cart-btn .bi.bi-cart:hover{
  fill: var(--tertiary-color);
}

.bi.bi-cart:hover{
  fill: var(--tertiary-color);
  transform: scale(1.05);
}

/* ------ END BUTTON ------ */

/* ------ LAYOUT ------*/

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(12, 1fr);
}

div[class*="col"] {
  padding: 5px;
}

.col {
  grid-column: span 12;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-6 {
  grid-column: span 6;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

/* ------ FORM ------ */

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;

  font-weight: 600;
  color: #333333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: inherit;
  padding: 0.75rem;
  border: 2px solid #cccccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input {
  max-width: 100%;
  width: 80%;
  min-width: 50%;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #0056a1;
  box-shadow: 0 0 5px rgba(0, 86, 161, 0.5);
}

.form-group select,
.form-group textarea {
  resize: vertical;
}
/* ------ END FORM ------ */

/* ------ END LAYOUT ------ */

@media (max-width: 768px) {
  body {
    margin: 3%;
    overflow-x: hidden;
  }

  .nav {
    position: fixed;
  }

  .nav-item {
    display: none;
  }

  .toggle.hidden {
    display: block;
  }

  .footer-content {
    flex-direction: column;
  }
}
