@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  padding: 5px;
}

.container {
  display: grid;
  /* flex-direction: row;  */

  margin: 5% auto;
}

.container.form {
  border: 1px black solid;
  height: 500px;
  width: 500px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.row {
  display: grid;
  grid-row: auto;
}

.row > .col-6 {
  column-count: 2;
}

.row > .col-3 {
  column-count: 3;
}

.row > .col-9 {
  border: 1px black solid;
  column-count: 9;
}
